
/*navigation for all pages*/
#main-navbar{
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
	font-size: 2em;
	overflow: hidden;
}

#navbar-container{
	width: 100%;
	float: left;
	position: relative;
}

#main-navbar ul{
	list-style-type: none;
	margin: 1em 0;
	padding:0;
	position: relative;
	left: 50%;
	float: left;
}

#main-navbar ul li{
	float: left;
	position: relative;
	right: 50%;
	display: block;
	margin: 0 10px;
}

#main-navbar ul li a{
	display:block;
	padding: 10px 20px;
	color: white;
	text-decoration:none;
}	

#main-navbar ul li a:hover{
	border-radius: 10px;
	color: white;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+0,6e7774+49,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(10,14,10,1) 0%, rgba(110,119,116,1) 49%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}

#onpage{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+0,6e7774+49,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(10,14,10,1) 0%, rgba(110,119,116,1) 49%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	color: white;
	border-radius: 10px;
}



/*index css*/
#index-body{
	background-image: url('../images/background2.jpg');
	font-family: 'Kiwi Maru', serif;
	font-size: 1.1em;
	color: white;
}

#index-header{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1c1248+13,363c94+100 */
	background: rgb(28,18,72); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(28,18,72,1) 13%, rgba(54,60,148,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(28,18,72,1) 13%,rgba(54,60,148,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(28,18,72,1) 13%,rgba(54,60,148,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1248', endColorstr='#363c94',GradientType=0 ); /* IE6-9 */
	padding: 0.5em;
	margin: 0;
}

#intro{
	width: 90%;
	padding: 10px;
	margin: 5%;
	text-align: center;	
	border-radius: 20px;
	box-shadow: 0 4px 4px 0 white;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cfd2f7+0,737fe7+24,0a1ed6+50,5361e1+79,8892ea+100 */
	background: rgb(207,210,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(207,210,247,1) 0%, rgba(115,127,231,1) 24%, rgba(10,30,214,1) 50%, rgba(83,97,225,1) 79%, rgba(136,146,234,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(207,210,247,1) 0%,rgba(115,127,231,1) 24%,rgba(10,30,214,1) 50%,rgba(83,97,225,1) 79%,rgba(136,146,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(207,210,247,1) 0%,rgba(115,127,231,1) 24%,rgba(10,30,214,1) 50%,rgba(83,97,225,1) 79%,rgba(136,146,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd2f7', endColorstr='#8892ea',GradientType=0 ); /* IE6-9 */
}
/*add colors to each game using containers*/
#minecraft-container{
	background-color: #2E8B57;
	padding: 20px;
	margin: 0% 5% 0% 5% ;
	
}
#fortnite-container{
	background-color: #FFD700;
	padding: 20px;
	margin: 0em 1.5em 0em 1.5em ;
}

#csgo-container{
	background-color: #4682B4;
	padding: 20px;
	margin: 0em 1.5em 0em 1.5em ;
}

#rocket-container{
	background-color: #1E90FF;
	padding: 20px;
	margin: 0em 1.5em 0em 1.5em ;
	
}
/*add css for all of the games*/
#games h2{
	text-align: center;
	font-size: 2em;
	width: 100%;
	padding:10px 0 10px 0;
	margin: 0% 0% 0% 0%;
	background: #2d2d86;
	color: white;
}

#games .basic{
	text-align: center;
	width: 100%;
	padding:5px 0 5px 0;
	margin-top: 0%;
	margin-bottom: 0%;
	background: #6600cc;
	color: white;
}

/*float images and change sizes*/
#games img{
	width: 80%;
	height: 400px;
	margin: 5% 10% 5% 10%;
	float: left;
	box-shadow: 0 4px 4px 0 white;
} 


/*css for the div of all games with a class of left-column*/
#games .left-column{
	text-align: left;
	float: left;
	width: 90%;
	margin: 0% 5%;
	padding: 5px 10px 5px 10px;
	border-radius: 20px;
	overflow: hidden;
	color: black;
	box-shadow: 0 4px 4px 0 white;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d9372b+-1,9f4a3b+0,d9372b+0,ca2b20+0,ca2b20+0,e8817e+23,e8817e+23,ca2b20+100 */
	background: rgb(217,55,43); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(217,55,43,1) -1%, rgba(159,74,59,1) 0%, rgba(217,55,43,1) 0%, rgba(202,43,32,1) 0%, rgba(202,43,32,1) 0%, rgba(232,129,126,1) 23%, rgba(232,129,126,1) 23%, rgba(202,43,32,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(217,55,43,1) -1%,rgba(159,74,59,1) 0%,rgba(217,55,43,1) 0%,rgba(202,43,32,1) 0%,rgba(202,43,32,1) 0%,rgba(232,129,126,1) 23%,rgba(232,129,126,1) 23%,rgba(202,43,32,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(217,55,43,1) -1%,rgba(159,74,59,1) 0%,rgba(217,55,43,1) 0%,rgba(202,43,32,1) 0%,rgba(202,43,32,1) 0%,rgba(232,129,126,1) 23%,rgba(232,129,126,1) 23%,rgba(202,43,32,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9372b', endColorstr='#ca2b20',GradientType=0 ); /* IE6-9 */
	
}

#games .left-column a{
	color: purple;
	font-size: 20px;
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
}
#games .left-column a:hover{
	color: white;
	background: #e65c00;
}
#games .left-column ul li{
	list-style-type: square;
	color: white;
}
#games iframe{
	width: 80%;
	height: 400px;
	margin: 0% 10% 0% 10%;
	box-shadow: 0 4px 4px 0 white;
}
#games .trailer{
	width: 20%;
 	margin: 5% 40% 5% 40%;
 	padding:5px;
 	float: left;
 	border-radius: 20px;
 	text-align:center;
 	color: #f2f2f2;
 	box-shadow: 0 4px 4px 0 white;
 	font-size: 40px;
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
 	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c4b7ed+0,4522e2+0,8c71ef+52,4522e2+100,4522e2+100,4522e2+100,c4b7ed+100 */
 	background: rgb(196,183,237); /* Old browsers */
 	background: -moz-linear-gradient(top,  rgba(196,183,237,1) 0%, rgba(69,34,226,1) 0%, rgba(140,113,239,1) 52%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(196,183,237,1) 100%); /* FF3.6-15 */
 	background: -webkit-linear-gradient(top,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
 	background: linear-gradient(to bottom,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4b7ed', endColorstr='#c4b7ed',GradientType=0 ); /* IE6-9 */ 
}


/*css for the minecraft description */
#par1{
	width:90%;
 	margin: 5%;
 	padding:5px;
 	float: left;
 	border-radius: 20px;
 	text-align:center;
 	color: #f2f2f2;
 	box-shadow: 0 4px 4px 0 white;
 	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c4b7ed+0,4522e2+0,8c71ef+52,4522e2+100,4522e2+100,4522e2+100,c4b7ed+100 */
 	background: rgb(196,183,237); /* Old browsers */
 	background: -moz-linear-gradient(top,  rgba(196,183,237,1) 0%, rgba(69,34,226,1) 0%, rgba(140,113,239,1) 52%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(196,183,237,1) 100%); /* FF3.6-15 */
 	background: -webkit-linear-gradient(top,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
 	background: linear-gradient(to bottom,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4b7ed', endColorstr='#c4b7ed',GradientType=0 ); /* IE6-9 */ 
}
#par1 .desc{
	font-size: 1.3em;
	font-weight: bold;
}
#par1 a{
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
	color: #e65c00;
	font-size: 20px;
}
#par1 a:hover{
	color: white;
	background: blue;
}
/*css for the fortnite description*/
#par2{
	width:90%;
 	margin: 5%;
 	padding:5px;
 	float: left;
 	border-radius: 20px;
 	text-align:center;
 	color: #f2f2f2;
 	box-shadow: 0 4px 4px 0 white;
 	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c4b7ed+0,4522e2+0,8c71ef+52,4522e2+100,4522e2+100,4522e2+100,c4b7ed+100 */
 	background: rgb(196,183,237); /* Old browsers */
 	background: -moz-linear-gradient(top,  rgba(196,183,237,1) 0%, rgba(69,34,226,1) 0%, rgba(140,113,239,1) 52%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(196,183,237,1) 100%); /* FF3.6-15 */
 	background: -webkit-linear-gradient(top,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
 	background: linear-gradient(to bottom,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4b7ed', endColorstr='#c4b7ed',GradientType=0 ); /* IE6-9 */ 
}
#par2 .desc{
	font-size: 1.3em;
	font-weight: bold;
}
#par2 a{
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
	color: #e65c00;
	font-size: 20px;
}
#par2 a:hover{
	color: white;
	background: blue;
}

/*css for the csgo description*/
#par3{
	width:90%;
 	margin: 5%;
 	padding:5px;
 	float: left;
 	border-radius: 20px;
 	text-align:center;
 	color: #f2f2f2;
 	box-shadow: 0 4px 4px 0 white;
 	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c4b7ed+0,4522e2+0,8c71ef+52,4522e2+100,4522e2+100,4522e2+100,c4b7ed+100 */
 	background: rgb(196,183,237); /* Old browsers */
 	background: -moz-linear-gradient(top,  rgba(196,183,237,1) 0%, rgba(69,34,226,1) 0%, rgba(140,113,239,1) 52%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(196,183,237,1) 100%); /* FF3.6-15 */
 	background: -webkit-linear-gradient(top,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
 	background: linear-gradient(to bottom,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4b7ed', endColorstr='#c4b7ed',GradientType=0 ); /* IE6-9 */ 
}
#par3 .desc{
	font-size: 1.3em;
	font-weight: bold;
}
#par3 a{
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
	color: #e65c00;
	font-size: 20px;
}
#par3 a:hover{
	color: white;
	background: blue;
}

/*css for the rocket description*/
#par4{
	width:90%;
 	margin: 5%;
 	padding:5px;
 	float: left;
 	border-radius: 20px;
 	text-align:center;
 	color: #f2f2f2;
 	box-shadow: 0 4px 4px 0 white;
 	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c4b7ed+0,4522e2+0,8c71ef+52,4522e2+100,4522e2+100,4522e2+100,c4b7ed+100 */
 	background: rgb(196,183,237); /* Old browsers */
 	background: -moz-linear-gradient(top,  rgba(196,183,237,1) 0%, rgba(69,34,226,1) 0%, rgba(140,113,239,1) 52%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(69,34,226,1) 100%, rgba(196,183,237,1) 100%); /* FF3.6-15 */
 	background: -webkit-linear-gradient(top,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
 	background: linear-gradient(to bottom,  rgba(196,183,237,1) 0%,rgba(69,34,226,1) 0%,rgba(140,113,239,1) 52%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(69,34,226,1) 100%,rgba(196,183,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4b7ed', endColorstr='#c4b7ed',GradientType=0 ); /* IE6-9 */ 
}
#par4 .desc{
	font-size: 1.3em;
	font-weight: bold;
}
#par4 a{
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
	color: #e65c00;
	font-size: 20px;
}
#par4 a:hover{
	color: white;
	background: blue;
}