#resume-header{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedbe9+0,aac5de+0,4bb8f0+9,4bb8f0+32,4bb8f0+32,4bb8f0+32,419ad6+68,3a8bc2+99,3a8bc2+99,6199c7+100,3a84c3+100,26558b+100 */
	background: rgb(206,219,233); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(206,219,233,1) 0%, rgba(170,197,222,1) 0%, rgba(75,184,240,1) 9%, rgba(75,184,240,1) 32%, rgba(75,184,240,1) 32%, rgba(75,184,240,1) 32%, rgba(65,154,214,1) 68%, rgba(58,139,194,1) 99%, rgba(58,139,194,1) 99%, rgba(97,153,199,1) 100%, rgba(58,132,195,1) 100%, rgba(38,85,139,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 0%,rgba(75,184,240,1) 9%,rgba(75,184,240,1) 32%,rgba(75,184,240,1) 32%,rgba(75,184,240,1) 32%,rgba(65,154,214,1) 68%,rgba(58,139,194,1) 99%,rgba(58,139,194,1) 99%,rgba(97,153,199,1) 100%,rgba(58,132,195,1) 100%,rgba(38,85,139,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 0%,rgba(75,184,240,1) 9%,rgba(75,184,240,1) 32%,rgba(75,184,240,1) 32%,rgba(75,184,240,1) 32%,rgba(65,154,214,1) 68%,rgba(58,139,194,1) 99%,rgba(58,139,194,1) 99%,rgba(97,153,199,1) 100%,rgba(58,132,195,1) 100%,rgba(38,85,139,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 ); /* IE6-9 */
	padding: 1.5em;
}

#main-navbar{
	overflow: hidden;
}

#navbar-container{
	width: 100%
	float: left;
	position: relative;
}

#main-navbar ul{
	list-style-type: none;
	margin:0;
	padding:0;
	position: relative;
	left: 50%;
	float: left;
}

#main-navbar ul li{
	float: left;
	position: relative;
	right: 50%;
	display: block;
	margin: 0 10px;
}

#main-navbar ul li a{
	display:block;
	padding: 10px 20px;
	color: #fff;
	text-decoration:none;
}	

#main-navbar ul li a:hover{
	border-radius: 10px;
	color: white;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+0,6e7774+49,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(10,14,10,1) 0%, rgba(110,119,116,1) 49%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}

#onpage{
	border-radius: 10px;
	color: white;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+0,6e7774+49,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(10,14,10,1) 0%, rgba(110,119,116,1) 49%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}