/*navigation for all pages*/
#main-navbar{
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
	font-size: 2em;
	overflow: hidden;
}

#navbar-container{
	width: 100%;
	float: left;
	position: relative;
}

#main-navbar ul{
	list-style-type: none;
	margin: 1em 0;
	padding:0;
	position: relative;
	left: 50%;
	float: left;
}

#main-navbar ul li{
	float: left;
	position: relative;
	right: 50%;
	display: block;
	margin: 0 10px;
}

#main-navbar ul li a{
	display:block;
	padding: 10px 20px;
	color: white;
	text-decoration:none;
}	

#main-navbar ul li a:hover{
	border-radius: 10px;
	color: white;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+0,6e7774+49,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(10,14,10,1) 0%, rgba(110,119,116,1) 49%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}

#onpage{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+0,6e7774+49,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(174,188,191,1) 0%, rgba(10,14,10,1) 0%, rgba(110,119,116,1) 49%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(174,188,191,1) 0%,rgba(10,14,10,1) 0%,rgba(110,119,116,1) 49%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
	color: white;
	border-radius: 10px;
}

/*tvshows css*/
#tvshows-body{
	background-image: url('../images/background3.jpg');
	color: white;
	font-family: 'true_crimesregular', Times, serif;
}

#tvshows-header{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+0,666666+0,666666+0,474747+0,474747+0,474747+1,000000+52,111111+60,1c1c1c+64,2c2c2c+75,2c2c2c+75,2b2b2b+76,666666+100 */
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 0%, rgba(71,71,71,1) 0%, rgba(71,71,71,1) 1%, rgba(0,0,0,1) 52%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 64%, rgba(44,44,44,1) 75%, rgba(44,44,44,1) 75%, rgba(43,43,43,1) 76%, rgba(102,102,102,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 0%,rgba(102,102,102,1) 0%,rgba(102,102,102,1) 0%,rgba(71,71,71,1) 0%,rgba(71,71,71,1) 0%,rgba(71,71,71,1) 1%,rgba(0,0,0,1) 52%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 64%,rgba(44,44,44,1) 75%,rgba(44,44,44,1) 75%,rgba(43,43,43,1) 76%,rgba(102,102,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 0%,rgba(102,102,102,1) 0%,rgba(102,102,102,1) 0%,rgba(71,71,71,1) 0%,rgba(71,71,71,1) 0%,rgba(71,71,71,1) 1%,rgba(0,0,0,1) 52%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 64%,rgba(44,44,44,1) 75%,rgba(44,44,44,1) 75%,rgba(43,43,43,1) 76%,rgba(102,102,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
	padding: 0.5em;
	border-radius: 10em;
	margin: 15px 10px;
}

#intro{
	width: 100%;
	padding: 10px;
	text-align: center;	
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 0%, rgba(71,71,71,1) 0%, rgba(71,71,71,1) 1%, rgba(0,0,0,1) 52%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 64%, rgba(44,44,44,1) 75%, rgba(44,44,44,1) 75%, rgba(43,43,43,1) 76%, rgba(102,102,102,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 0%,rgba(102,102,102,1) 0%,rgba(102,102,102,1) 0%,rgba(71,71,71,1) 0%,rgba(71,71,71,1) 0%,rgba(71,71,71,1) 1%,rgba(0,0,0,1) 52%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 64%,rgba(44,44,44,1) 75%,rgba(44,44,44,1) 75%,rgba(43,43,43,1) 76%,rgba(102,102,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 0%,rgba(102,102,102,1) 0%,rgba(102,102,102,1) 0%,rgba(71,71,71,1) 0%,rgba(71,71,71,1) 0%,rgba(71,71,71,1) 1%,rgba(0,0,0,1) 52%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 64%,rgba(44,44,44,1) 75%,rgba(44,44,44,1) 75%,rgba(43,43,43,1) 76%,rgba(102,102,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}
#intro h1{
	font-size: 3em;
}
#intro p{
	font-size: 1.5em;
}

#movies h2{
	text-align: center;
	font-size: 2em;
	width: 100%;
	padding:10px 0 10px 0;
	margin-bottom: 0%;
	background: #404040;
	color: #ff471a;
}

#date1{
	text-align: center;
	width: 100%;
	padding:5px 0 10px 0;
	margin-top: 0%;
	margin-bottom: 0%;
	font-size: 1.2em;
	background: black;
	color: white;
}
#date2{
	text-align: center;
	width: 100%;
	padding:5px 0 10px 0;
	margin-top: 0%;
	margin-bottom: 0%;
	font-size: 1.2em;
	background: black;
	color: white;
}
#date3{
	text-align: center;
	width: 100%;
	padding:5px 0 10px 0;
	margin-top: 0%;
	margin-bottom: 0%;
	font-size: 1.2em;
	background: black;
	color: white;
}
#movies .imagetop{
	float: left;
	width: 60%;
	margin:0% 20% 0% 20%;
	box-shadow: 0 4px 4px 0 white;
	border: 5px solid black;
}

#game img{
	width: 60%;
	height: auto;
	margin: 0 5% 5% 5%;
	float: left;
	border: 5px solid black;
}
#game p{
	font-size: 2em;
	text-align: center;
	float: left;
	width: 70%;
	margin: 5% 15% 0 15%;
	padding: 5px;
	border-radius: 10px 10px 0 0;
	background: black;
	overflow: hidden;
}
#game ul{
	list-style-type: none;
	width: 70%;
	margin: 0 15% 5% 15%;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
	background: black;
	overflow:hidden;
}
#game ul li {
	text-align: center;
	font-size: 1.5em;
}
#game ul li a{
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
	color:red;
}
#game ul li a:hover{
	color: white;
	background: #404040;
}

#movies iframe{
	width: 50%;
	margin:5% 25% 5% 25%;
	box-shadow: 0 4px 4px 0 white;
}

#movies .info p{
	width: 20%;
	margin: 0 5% 5% 0;
	float: left;
	font-size: 2em;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	background: black;
	overflow: hidden;
}
#movies .info img{
    width: 300px;
	height: 300px;
	float: right;
	margin: 0 5% 5% 5%;
	border: 5px solid black;
}

#series img{
	width: 300px;
	height: 300px;
	float: right;
	margin: 0 5% 5% 5%;
	border: 5px solid black;
}

#series .web{
	width: 35%;
	float: left;
	margin: 0 5% 0 10%;
	font-size: 2em;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+87,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 87%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}
#series .char{
	width: 35%;
	float: left;
	margin: 5% 5% 0 10%;
	font-size: 2em;
	padding: 10px;
	border-radius: 10px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+87,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 87%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}
#series ul{
	width: 35%;
	float: left;
	margin: 0 5% 10% 10%;
	padding: 10px;
	font-size: 1.5em;
	text-align:center;
	border-radius: 10px 10px 0 0;
}
#series ul li{
	list-style-type: none;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+87,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 87%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}
#series ul li a{
	color: white;
	font-size:1.5em;
	text-decoration: none;
}
#series ul li a:hover{
	color:white;
	background: black;
}
#series h3{
	float: right;
	text-align: center;
	font-size: 2em;
	width: 100%;
	margin: 5% 0 5% 0;
	padding: 10px 0 10px 0;
	background: black;
}

#murder p{
	font-size: 2em;
	text-align: center;
	float: left;
	width: 70%;
	margin: 5% 15% 0 15%;
	padding: 5px;
	border-radius: 10px 10px 0 0;
	background: black;
	overflow: hidden;
}
#murder ul{
	list-style-type: none;
	width: 70%;
	margin: 0 15% 10% 15%;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
	background: black;
	overflow:hidden;
}
#murder ul li {
	text-align: center;
	font-size: 1.5em;
}
#murder ul li a{
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
	color:red;
}
#murder ul li a:hover{
	color: white;
	background: #404040;
}
#murder .cast{
	width: 40%;
	height: auto;
	float: right;
	margin: 0 5% 5% 0;
	border: 5px solid black;
}
#series2 p{
	width: 35%;
	float: left;
	margin: 10% 5% 0 10%;
	font-size: 2em;
	padding: 10px;
	border-radius: 10px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+87,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 87%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}
#series2 ul{
	width: 35%;
	float: left;
	margin: 0 5% 0 10%;
	padding: 10px;
	text-align:center;
	border-radius: 10px 10px 0 0;
}
#series2 ul li{
	list-style-type: none;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aebcbf+0,6e7774+50,0a0e0a+87,0a0809+100 */
	background: rgb(174,188,191); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(174,188,191,1) 0%, rgba(110,119,116,1) 50%, rgba(10,14,10,1) 87%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(174,188,191,1) 0%,rgba(110,119,116,1) 50%,rgba(10,14,10,1) 87%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}
#series2 ul li a{
	color: white;
	font-size:2em;
	text-decoration: none;
}
#series2 ul li a:hover{
	color:white;
	background: black;
}
#series2 img{
	width: 40%;
	height: auto;
	float: right;
	margin: 0 5% 5% 0;
	border: 5px solid black;
}
#series2 h3{
	float: right;
	text-align: center;
	font-size: 2em;
	width: 100%;
	margin: 5% 0 5% 0;
	padding: 10px 0 10px 0;
	background: black;
}
#sherlock p{
	font-size: 2em;
	text-align: center;
	float: left;
	width: 70%;
	margin: 5% 15% 0 15%;
	padding: 5px;
	border-radius: 10px 10px 0 0;
	background: black;
	overflow: hidden;
}
#sherlock ul{
	list-style-type: none;
	width: 70%;
	margin: 0 15% 10% 15%;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
	background: black;
	overflow:hidden;
}
#sherlock ul li {
	text-align: center;
	font-size: 1.5em;
}
#sherlock ul li a{
	font-family: 'sf_archery_blackregular', Fantasy, Copperplate;
	color:red;
}
#sherlock ul li a:hover{
	color: white;
	background: #404040;
}
